<!DOCTYPE html>
<html>
  <head>
    <title>Shares Watchlist</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/shares.css">
    <script src="/static/.vendor/zepto.min.js"></script>
    <script src="/static/.vendor/zepto_event.min.js"></script>
    <script src="/static/.vendor/zepto_ajax.min.js"></script>
    <script src="/static/.vendor/zepto_fx.min.js"></script>
    <script src="/static/.vendor/zepto_fx_methods_show_fixed.min.js"></script>
    <script src="/static/.vendor/ejs.min.js"></script>
    <script src="/static/js/.prepare/shared.js"></script>
  </head>

  <body>

    <%
      var days = Object.keys(shares_data)
      var today = days.slice(-1)[0]

      function cap(input) {
        return `${input[0]}<span>${input.slice(1)}</span>`
      }

      cap.per = function(input, per='%') {
        return cap(`${input}<br>( ${per} )`)
      }
    %>

    <div>
      <select class="days" onchange="start_this(this.value)">
        <% for (var day of days) { %>
          <option value="<%= day %>"><%= day %></option>
        <% } %>
      </select>
    </div>

    <container class="shares">
      <div class="share header">

        <cell exchange><%- cap('Exchange') %></cell>
        <cell acronym><%- cap('Acronym') %></cell>
        <cell longname><%- cap('Name') %></cell>
        <cell glassdoor><%- cap('Glass door') %></cell>
        <cell estimate><%- cap.per('Estimate') %></cell>
        <cell range><%- cap.per('Range') %></cell>
        <cell price_><%- cap.per('Price', '$') %></cell>

        <cell perf_5d><%- cap('Perf 5d') %></cell>
        <cell perf_1m><%- cap(' ( % ) 1m') %></cell>
        <cell perf_3m><%- cap(' <br>3m') %></cell>

        <cell buy>B</cell>
        <cell hold>H</cell>
        <cell sell>S</cell>

        <cell financhill><%- cap('Finan chill') %></cell>
        <cell stockInvest><%- cap('Stock Invest') %></cell>

        <cell buy_date><%- cap('Buy date') %></cell>
        <cell sell_date><%- cap('Sell date') %></cell>

        <cell increase><%- cap.per('Increase') %></cell>

      </div>
    </container>

    <script>
      var days        = (<%- JSON.stringify(days) %>)
      var shares      = (<%- JSON.stringify(shares) %>)
      var shares_data = (<%- JSON.stringify(shares_data) %>)
      var constant    = (<%- JSON.stringify(constant) %>)
      var today       = ('<%= today %>')
    </script>
    <script src="/static/js/shares.js"></script>

  </body>
</html>
