body {
  overflow-y: scroll;
}

div > a.img-circle.animated,
a[data-track="cm-openRequest-arcBanner"] {
  display: none;
}

.dashboard__sidebar {
  overflow: hidden;
}

@media only screen and (max-width: 640px) {

  .webapp-content .dashboard__open-question__request-filter .request-filter__top-bar {
    display: block;
    padding-bottom: 0;
  }

  .webapp-content .dashboard__open-question__request-filter .request-filter__filter-section,
  .webapp-content .dashboard__open-question__request-filter .request-filter__actions {
    max-width: fit-content;
    display: inline-block;
  }

  .webapp-content .dashboard__open-question__request-filter
  .request-filter__refresh-btn {
    transform: translateY(2px);
    display: inline-flex;
  }

  .request-filter__my-interested-btn {
    margin-right: 10px;
    font-size: 0;
  }

  .request-filter__my-interested-btn:after {
    font-size: 12px;
    content: 'Interested';
  }
  
  .webapp-content
  .dashboard__open-question__request-filter
  .request-filter__filter-toggle {
    font-size: 12px;
    width: 78px;
    height: 30px;
  }

  .content-row__budget {
    bottom: 10px !important;
  }

  .content-row__interest {
    display: block !important;
    position: absolute;
    bottom: 12px;
    left: 120px;
  }

  .content-row__created-at {
    display: block !important;
    position: absolute;
    bottom: 12px;
    left: 231px;
  }

  .content-row__header {
    width: 100% !important;
  }
  
  .instant-help-enter-done {
    width: auto !important;
    left: 10px;
    right: 10px;
  }
  
  .mentor .middle {
    word-break: break-word;
  }

}